@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>This site consumes API'ws from brewerydb.com.</p>
<p>"<i>BreweryDB is your database of breweries, beers, beer events and guilds! Our service is just about the facts. All of our data is curated by our administrators, so you can be sure that the information you get is timely and accurate. We are proud to be a small part of the Craft Beer revolution!</i>"</p>
