@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>

<address>
    Cape Town<br />
    South Africa<br />
    Skype: <a href="skype:tanyawilke?call">Call Me</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:tanya.wilke@gmail.com">tanya.wilke@gmail.com</a>
</address>
