@model Beer.Models.RootModel;
@{
    ViewData["Title"] = "Beer";
}

<h1>Beer</h1>
<div class="row">
    <div class="col-md-12">
        <p>There are @Model.numberOfPages pages of beer.  Perhaps you would like to refine your search using the search facility?</p>

        <div><input type="search" id="search" /></div>
        <div class="data-table">
            <table class="table-grid">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var book in Model.data)
            {
                        <tr>
                            <td>@book.nameDisplay</td>
                            <td>@book.description</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
