body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: RGB(247,231,205);
    color: RGB(24, 13, 6);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    color: RGB(226, 166, 7);
    background-color: RGB(226, 166, 7);
    border-color: RGB(226, 166, 7);
}

.navbar-inverse {
    background-color: RGB(226, 166, 7);
    border-color: RGB(226, 166, 7);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: RGB(255, 255, 255);
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover {
    color: RGB(24, 13, 6);
}

.navbar-inverse .navbar-nav > li > a:hover {
    font-weight: bold;
}

footer {
    color: RGB(24, 13, 6);
    font-weight: bold;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    
}
